
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: #ecf0f1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #333;
}

ul {
    text-align: justify;
}

ul li {
    line-height: 2.25rem;
}

h1 {
    font-size: 2.25rem;
}

.title {
    font-size: 2.75rem !important;
    font-weight: bolder;
    letter-spacing: 0.25rem;
    text-align: left;
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
            1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}

h2 {
    font-size: 1.5rem;
    font-weight: 300;
}

p {
    font-size: 1.5rem;
}

li {
    font-size: 1.65rem;
}

button {
    min-width: 100px;
    max-width: 180px;
    border-radius: 4px;
    padding: 16px 8px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #ecf0f1;
}

button:disabled {
    background: #ecf0f1;
    color: #2c3e50;
    cursor: no-drop;
}
.font-dancing {
    font-family: 'Dancing Script', cursive !important;
}

.expanded {
    letter-spacing: 0.25rem;
}

.default {
    background: #f6f6f6;
    color: #2c3e50;
}

.card {
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    min-height: 95%;
    width: 100%;
    max-width: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /* Cambia el color del texto para que sea legible en la imagen de fondo */
}

.card.portada {
    background: linear-gradient(215deg, #9B97B2, #D8A7CA, #8e44ad);
    color: #ecf0f1;
}

.card.revealed {
    background: url('fondo.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #2d3436;
}


.card.explosion {
    animation: cardExplosion 1s ease-out;
    transform-origin: center bottom;
    opacity: 0;
    transition: transform 1s ease-out, opacity 0.5s ease-out;
}

.info {
    justify-self: flex-end;
    text-align: right;
}

.note {
    font-size: 0.75rem;
    margin-bottom: -2.5rem;
}

.name {
    font: bold;
    letter-spacing: 0.2rem;
}

.mt-2 {
    margin-top: 2rem;
}

.mt-1 {
    margin-top: 0.25rem;
}

.mt-4 {
    margin-top: 4rem;
}

.text-right {
    text-align: right;
}

.w-full {
    width: 100%;
}

.font-weight-500 {
    font-weight: 500;
}

/* Mantén tus keyframes */
@keyframes cardExplosion {
    0% {
        transform: scale(0.2) translateY(0);
        opacity: 0;
    }

    100% {
        transform: scale(1) translateY(-50%);
        opacity: 1;
    }
}

/* Estilos responsivos (integra los estilos proporcionados) */
@media (max-width: 768px) {
    h1.title {
            font-size: 1.8rem;
        }
    .card {
        max-width: 90%;
    }
}

@media (max-width: 480px) {
    h1.title {
        font-size: 1.5rem;
    }

    p {
        font-size: 1rem;
    }

    button {
        min-width: 100px;
        padding: 10px 20px;
        font-size: 1rem;
    }

    .note {
        margin-top: 1rem;
        margin-bottom: 0;
    }
}